<html>
<head>
<title>Login Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/login.css') }}">    >

<body>
    <div class="loginbox">
    <img src="bookimg.png" class="avatar">
    <h1>Please Enter Your Details</h1>
    <form>
        <P>Username:</P>
        <input type="text" name="" placeholder="Enter username">
        <P>Password:</P>
        <input type="Password" name="" placeholder="Enter Password">
        <input type="SUBMIT" name="" value="LOGIN">
        <a href="#">Lost your password?</a><br>
        <a href="#">Don't have an account?</a>

    </form>

    </div>